.container {
    display: flex;
    margin-bottom: 100px;
}
.Mainindex {
    flex-basis: 40%;
}
.index {
    border: none;
    background: transparent;
    padding: 1em;
    text-align: left;
}

.index:hover {
    background: #f1edff;
}
.video {
    flex-basis: 60%;
    margin-left: 60px;
    padding-top: 50px;
}
.videoBtn {
    padding: 30px;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}